:root {
    --black: #000000;
    --gray: #2D2D2D;
    --main: #3696B6;
    --font: 16px;
    --white: #ffffff;
    --orange: #FFA445;
}

*,
 ::after,
 ::before {
    box-sizing: border-box
}

.animate {
    visibility: hidden;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: var(--font);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    ;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.loading * {
    transition: none!important;
}

body.loading .modal {
    transition: none!important;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0!important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    color: var(--black);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--gray);
}

abbr[data-original-title],
abbr[title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a {
    color: var(--orange);
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: var(--orange);
    text-decoration: none
}

a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

code,
kbd,
pre,
samp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar
}

figure {
    margin: 0 0 1rem
}

img,
picture {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
}

svg {
    overflow: hidden;
    vertical-align: middle
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom
}

th {
    text-align: inherit
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[role=button] {
    cursor: pointer
}

select {
    word-wrap: normal
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

 ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item;
    cursor: pointer
}

template {
    display: none
}

[hidden] {
    display: none!important
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* .no-margin {
    margin: 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
}

.col {
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 10;
}

.c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-s {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.s-s {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.c-e {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.c-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-sb {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

html.wf-inter-n4-active body,
html.wf-inter-n6-active body {
    font-family: 'Inter';
}

html.wf-cormorantinfant-n7-active h1,
html.wf-cormorantinfant-n7-active h2 {
    font-family: 'Cormorant Infant', serif;
}

@keyframes lazyFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.anim-fade {
    animation: lazyFade 200ms ease-in;
}

.lazy {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolder;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 8%, rgba(255, 255, 255, 0.6) 18%, rgba(255, 255, 255, 0.2) 33%);
    border-radius: 1rem;
    overflow: hidden;
    background-size: 800px 104px;
    position: relative;
}

@keyframes placeHolder {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 324px 0;
    }
}

h1 {
    font-size: 4rem;
    line-height: 0.9;
    margin-bottom: 1rem;
    font-weight: bold;
}

h2 {
    font-size: 3.5rem;
    line-height: 0.9;
    margin-bottom: 2rem;
    font-weight: bold;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 220;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: 200ms ease-in;
    transition-property: background, border-bottom;
    will-change: background, border-bottom;
}

.header.header-scroll,
.header.visible {
    background: var(--main);
    border-bottom: transparent
}

.header .btn {
    margin: 0;
    margin-left: 1.25rem;
}

.header a:not(.btn) {
    padding: 0.75rem 1rem;
    font-weight: 600;
    color: #fff;
    transition: 150ms ease-in;
    transition-property: background;
    will-change: background;
    border-radius: 0.25rem;
}

.header a:not(.btn):hover {
    background: rgba(255, 255, 255, 0.2);
}

.header a.h-social {
    padding: 0.5rem 0.5rem;
}

.header a.header-logo {
    max-width: 14rem;
    padding: 0;
    transition: 150ms ease-in;
    transition-property: opacity;
}

.header a.header-logo:hover {
    opacity: 0.7;
    background: transparent;
}

.header a.h-social:first-child {
    margin-left: 0.75rem;
    margin-right: 0.5rem;
}

.header a .icon-m {
    margin: 0;
}

.navigation ul,
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

@media screen and (min-width:1024px) {
    .m-nav {
        display: none;
    }
    .w-480 img,
    .w-480 picture {
        max-width: 480px;
    }
    .w-40 {
        max-width: 378px;
    }
}

@media screen and (max-width:1024px) {
    .m-nav {
        display: flex;
    }
    .navigation {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: 200ms ease-in;
        transform: translate(0, -20px);
        transition-property: visibility, opacity, transform;
        will-change: visibility, opacity, transform;
    }
    .header.visible .navigation {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
    .navigation ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: var(--main);
        padding: 1rem 0rem;
    }
    .navigation ul li {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header a:not(.btn) {
        display: flex;
    }
    .header a.h-social:first-child {
        margin-left: 0;
    }
    .header .btn {
        margin-left: 0;
        margin-top: 2rem;
    }
}


/* mobile-icon */

.mobile-icon {
    padding: 0;
    border: none;
    background: transparent;
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.mobile-icon {
    width: 3rem;
    border-radius: 0.25rem;
}

.title-s {
    font-family: 'Inter';
    font-size: 1.25rem;
    line-height: 1.25;
}

.centured {
    text-align: center;
}

.l-size {
    font-size: 1.25rem;
    line-height: 135%;
}

.w-70 {
    max-width: 672px;
}

.hero .descr strong {
    font-family: 'Cormorant Infant', serif;
    font-size: 1.65rem;
}

.hero {
    position: relative;
    padding-top: 3rem;
}

.colored {
    background: var(--main);
}

.hero .hero-content {
    min-height: 90vh;
    flex-direction: column;
    align-items: flex-start;
}

section.colored *,
.colored * {
    color: var(--white);
}

.btn:focus,
.btn:active,
.btn-icon:focus,
.btn-icon:active {
    border: none;
    outline: none;
}

.btn {
    font-weight: 600;
    color: var(--white);
    background: var(--orange);
    padding: 0.85rem 3.5rem;
    display: inline-block;
    margin-top: 2.5rem;
    box-shadow: none;
    transition: 200ms ease-in;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    user-select: none;
}

.btn:hover {
    box-shadow: 0px 24px 32px rgba(255, 164, 69, 0.14), 0px 16px 24px rgba(255, 164, 69, 0.1), 0px 2px 6px rgba(255, 164, 69, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04);
    color: var(--white);
    transform: translate(0, -0.125rem);
}

.bg-video video,
.banner video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 3;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 150, 182, 0.6);
    z-index: 5;
}

.hero-content {
    position: relative;
    z-index: 10;
}

.bottom-overlay::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(54, 150, 182, 0) 0%, #3696B6 87.75%);
    z-index: 9;
}

@media screen and (min-width:1024px) {
    .pc-col-50 {
        flex: 0 0 50%;
        width: 100%;
        max-width: 50%;
        padding: 0 10px;
        position: relative;
        z-index: 5;
    }
    .pc-col-33 {
        flex: 0 0 33.333%;
        width: 100%;
        max-width: 33.333%;
        padding: 0 10px;
        position: relative;
        z-index: 5;
    }
}

.descr {
    font-weight: 400;
}

section {
    padding: 5rem 0;
}

@media screen and (max-width:1024px) {
    .container {
        max-width: 764px;
    }
    .header .container {
        max-width: none;
    }
    section {
        padding: 3rem 0;
    }
    .l-size {
        font-size: 1.125rem;
    }
    .btn {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width:540px) {
    .header a.header-logo {
        max-width: 10rem;
    }
    h1 {
        font-size: 3rem;
    }
    .hero .descr strong {
        font-size: 1.25rem;
    }
    section {
        padding: 2rem 0;
    }
}